# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment
venv/
env/

# VSCode settings
.vscode/

# Mypy cache
.mypy_cache/

# Pytest cache
.pytest_cache/

# SQLite database files
*.sqlite3

# MacOS metadata
.DS_Store

# Logs
*.log

# Pydantic V2 cache
__pydantic__/ 

# Coverage reports
htmlcov/
coverage.xml
*.cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDEs
.idea/
